:root {
    --primary: #3D5A6C;
    --textColor: #6CD4FF;
  
}
html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary);
}

#titleSection {
    text-align: center;
    font-size: 4.5em;
    letter-spacing: 0.05em;
    width: 40%;
    margin: 2.5% auto;  
    color: var(--textColor);
}

#btnContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

#btnContainer > button {
    width: 40%;
    border-radius: 5px;
    border: none;
    padding: 1.5% 1.5%;
}

#playBtn {
    margin-left: 1.6%;
    background: #35CE8D;
    color: var(--primary);
    font-size: 0.5em;
}

#resetBtn {
    margin-right: 1.6%; 
    background: #FD3021;
    font-size: 0.5em;
    color: var(--textColor);
}

#gameContainer {
    width: 100%;
    margin-top: 7.5%;
    display: flex;
    justify-content: space-between;
}

.gamePlayArea {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.score {
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 0.1em;
    color: #17BEBB;
}

#playerScoreArea {
    margin: 0 auto;
    padding: 5% 0;
}

#computerScoreArea {
    margin: 0 auto;
    padding: 5% 0;
}

.scoreBoard {
    font-size: 5.5em;
    letter-spacing: 0.5em;
    font-weight: bold;
    margin-top: 15%;
    color: #EDE6F2;
}

.gameBtnContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 12%;
}

.gameBtn {
    border: none;
    background: none;
    margin-top: 17%;
}

legend {
    margin-top: 5%;
    font-size: 0.5em;
}

.stars {
    color: #35CE8D;
}

li {
    margin-top: 2%;
    font-size: 0.25em;
    text-align: center;
    line-height: 2;
}

button:hover{
    cursor: pointer;
}

i {
    font-size: 10em;
    color: var(--textColor); 
}

.gameStatus {
    text-align: center;
    margin-top: 2.5%;
    font-size: 3em;
}

.noDisplay {
    display: none;
}